* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-style: normal;
  line-height: 150%;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  color: black;
}


h1 {
  width: 100%;
  padding-top: 1em;
  margin: 0;
  font-family: "Unlock", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  text-align: center;
}

#gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}



.gallery-content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

h5 {
font-family: "Unlock", sans-serif;
text-transform: uppercase;
font-size: 1em;
}

.gallery-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.before {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 25%;
  padding: 15px;
}

.after {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 25%;
  padding: 15px;
}

.before img{
  width: 100%;
  border-radius: 20px;
  border: double black 2px;
  margin: 20px;
}

.after img{
  width: 100%;
  border-radius: 20px;
  border: double black 2px;
  margin: 20px;
}

.show-style {
width: 35%;
padding: 1em 1em;
background-color: #f87895;
color: black;
border-radius: 60px;
cursor: pointer;
font-family: "Unlock", sans-serif;
text-transform: uppercase;
font-size: 1em;
}


.hide {
  display: none;
}


input:active,
input:focus {
  outline: 0;
  border: 4px solid #28bdbd;
}


